html {
  height: 100%;
}
body {
  height: 100%;
  background: url(/images/background.gif) repeat-y;
  font-family: Gill Sans, Helvetica Narrow, Lucida, sans-serif;
}

#min-width {
  min-width: 960px;
  height: 100%;
}

#nav {
  background-color: #ff9900;
  float: left;
  width: 304px;
  height: 100%;
  text-align: right;
  padding-right: 20px;
}

#nav h1 {
  font-family: New Century Schoolbook, Palatino, Bookman, Times, serif;
  color: white;
  font-size: 4em;
  margin-top: 30px;
}
#nav h1 span.subheading {
  font-family: Gill Sans, Helvetica Narrow, Lucida, sans-serif;
  color: #ffcc66;
  font-size: 30%;
  text-transform: uppercase;
}
#nav h2 {
  font-family: New Century Schoolbook, Palatino, Bookman, Times, serif;
  color: white;
}

#nav ul#nav-links {
  margin-top: 2em;
  line-height: 5em;
}
#nav ul#nav-links li {
  color: white;
  font-family: Gill Sans, Helvetica Narrow, Lucida, sans-serif;
  font-size: 4em;
  font-weight: bold;
}
#nav ul#nav-links li.selected:before {
  content: '\2219';
  color: #ffcc66;
}

#nav img#logo {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#bottom {
  font-size: 150%;
  padding-top: 1.5em;
  padding-bottom: 2em;
  margin-left: 304px;
  padding-left: 3em;
  padding-right: 2em;
}
